.App {
  text-align: center;
  color: azure;
  width:100%;
}

.center {
  display: flex;
  justify-content: center;
}

.main {
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.up {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  width:100%;
}